requests
pandas
altair
python-dotenv
jupyterlab
jupyter-archive
tqdm
beautifulsoup4
lxml
ipywidgets
requests_cache
lat_lon_parser
vega_datasets
ipyleaflet
folium
geopandas
jupyterlab-geojson
folium
matplotlib
mapclassify
buckaroo