requests
pandas
altair
python-dotenv
jupyterlab
jupyter-archive
# To deal with https://github.com/jupyter-server/jupyter_server/issues/1038
jupyter-server<2.0.0
tqdm
beautifulsoup4
lxml
ipywidgets
requests_cache
lat_lon_parser
vega_datasets
ipyleaflet
folium